NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=919786149477
NEXT_PUBLIC_SALON_PHONE=+91 97861 49477
NEXT_PUBLIC_SALON_EMAIL=contact@luxesalon.in
NEXT_PUBLIC_SALON_ADDRESS=124, Avinashi Main Road, Pushpa Theatre Junction, Tiruppur, Tamil Nadu 641602
